 <section>
    <div class="container" infinite-scroll  [infiniteScrollDistance]="2" [infiniteScrollThrottle]="10"  (scrolled)="onScroll()" *ngFor="let contain of allRepo ; index as j" >
      <div  class="row p-2 flex-start align-items-center" *ngFor="let repo of allRepo[j];index as i" >
        <div class="col-12 col-md-3 mb-2 mb-md-0 d-flex justify-content-center align-items-center" >
          <img [src]="repo.owner.avatar_url" class="w-50 circle" alt="">
        </div>
        <div class="col-md-9 d-flex flex-column ">
          <div class="col-12 d-flex flex-column align-items-md-start align-items-center">
            <h3> {{repo.name}}</h3>
            <P class="p-2 text-md-start text-center"> {{repo.description}}</P>
          </div>
          <div class="col-12 d-flex justify-content-md-start justify-content-center flex-wrap">
            <div class="col-4 col-md-2 col-6 d-flex align-items-center m-0">
               <p  *ngIf="repo.stargazers_count > 1000 ; else noAction " class="border border-2 borde-dark p-1 px-2"> <span class="fw-bold">Stars:</span> {{(repo.stargazers_count/1000).toFixed(1)}} k </p>
               <ng-template #noAction>
                 <p class="border border-2 borde-dark p-1 px-2"><span class="fw-bold">Stars:</span> {{repo.stargazers_count}}</p>
               </ng-template>
            </div>
            <div class="col-4 col-md-2 d-flex align-items-center m-0">
              <p  *ngIf="repo.open_issues_count > 1000 ; else n " class="border border-2 borde-dark p-1 px-2" > <span class="fw-bold">Issue:</span> {{(repo.open_issues_count/1000).toFixed(1)}} k </p>
              <ng-template #n>
                <p  class="border border-2 borde-dark p-1 px-2"> <span class="fw-bold">Issue:</span>  {{repo.open_issues_count}}</p>
              </ng-template>
           </div >
           <div class="col-12 col-md-8 d-flex align-items-center">
            <p class="px-3 px-md-0" > submitted {{calculateTimeDiff(repo.created_at)}} days ago by {{repo.owner.login}} </p>
          </div>
          </div>
        </div>
      </div>
    </div>
 </section>